<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bill payment</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
        nav{
            width: 100%;
            height: 80px;
            background-color:thistle;
        }
        nav p a{
            font-family:fantasy;
            color: #222;
            font-size: 60px;
            line-height: 70px;
            float: left;
            padding: 0px 20px;
            text-decoration: none;
        }
        nav ul li {
            float: left;
            list-style: none;
        }
        nav ul li a{
            display: block;
            font-family:fantasy;
            color: #222;
            font-size: 24px;
            padding: 15px 14px;
            /* text-decoration: none; */
        }
    </style>
    <style>
      h1{
        font-family: fantasy;
        text-align: center;
      }
      .cost{
        font-family: fantasy;
        text-align: center;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
      <nav>
          <p><a href="/">Home</a></p>
          <ul>
            <li><a href="/index"> Detail about BTS station</a></li>
            <li><a href="/price_ticket"> Price ticket BTS station</a></li>
          </ul>
      </nav>
      <h1><%= title %></h1>
      <br>
      <br>
      <div class = "cost">
        <%= message_cost %>
        <br>
        <br>
        Source station <b> <%= name_station_1 %> </b> Destination station <b> <%= name_station_2 %> </b>
        <br>
        <br>
        Your ticket cost <b> <%= cost %> </b> Baht
        <br>
        <br>
        Your Rabbit student ticket cost <b> <%= cost_rabbit_student_ticket %> </b> Baht
        <br>
        <br>
        Your Rabbit normal ticket cost <b> <%= cost_rabbit_normal_ticket %> </b> Baht
        <br>
        <br>
        Your Rabbit senior ticket cost <b> <%= cost_rabbit_senior_ticket %> </b> Baht
        <br>
        <br>
        Enjoy your ride. have a nice day
      </div>
  </body>
</html>
