<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <style>
    *{
      margin: 0;
      padding: 0;
    }
    nav{
        width: 100%;
        height: 80px;
        background-color:thistle;
    }
    nav p a{
        font-family:fantasy;
        color: #222;
        font-size: 60px;
        line-height: 70px;
        float: left;
        padding: 0px 20px;
        text-decoration: none;
    }
    nav ul li {
        float: left;
        list-style: none;
    }
    nav ul li a{
        display: block;
        font-family:fantasy;
        color: #222;
        font-size: 24px;
        padding: 15px 14px;
        /* text-decoration: none; */
    }
    </style>
  </head>
  <body>
    <nav>
      <p><a href="/">Home</a></p>
      <ul>
        <li><a href="/index"> Detail about BTS station</a></li>
        <li><a href="/price_ticket"> Price ticket BTS station</a></li>
      </ul>
    </nav>
  </body>
</html>
