<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
        nav{
            width: 100%;
            height: 80px;
            background-color:thistle;
        }
        nav p a{
            font-family:fantasy;
            color: #222;
            font-size: 60px;
            line-height: 70px;
            float: left;
            padding: 0px 20px;
            text-decoration: none;
        }
        nav ul li {
            float: left;
            list-style: none;
        }
        nav ul li a{
            display: block;
            font-family:fantasy;
            color: #222;
            font-size: 24px;
            padding: 15px 14px;
            /* text-decoration: none; */
    
        }
    </style>
    <style>
        h1{
          font-family: fantasy;
          text-align: center;
        }
        h2{
          font-family: fantasy;
          text-align: center;
          font-size: 25px;
        }
      .station{
          font-family: fantasy;
          position:absolute;
          top:90%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
      <nav>
          <p><a href="/">Home</a></p>
          <ul>
            <li><a href="/index"> Detail about BTS station</a></li>
            <li><a href="/price_ticket"> Price ticket BTS station</a></li>
          </ul>
      </nav>
      <h1><%= title %></h1>
    <h2>Start</h2>
    <br>
    <br>
    <div class = "station">
    <table class="table table-inverse">
        <tbody>
          <% for(var i=0; i < rows.length; i++) { %>
            <tr>
               <td> <a href="/searching/<%= rows[i].id_station %> "> <%= rows[i].id_station %> </td>
               <td><%= rows[i].name_station %></td>
            </tr>
          <% } %>
        </tbody>
    </table>
    <br>
    <h2>End</h2>
    </div>
    <br>
    <br>
    
  </body>
</html>
