<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Calculate price</title>
  <style>
      *{
        margin: 0;
        padding: 0;
      }
      nav{
          width: 100%;
          height: 80px;
          background-color:thistle;
      }
      nav p a{
          font-family:fantasy;
          color: #222;
          font-size: 60px;
          line-height: 70px;
          float: left;
          padding: 0px 20px;
          text-decoration: none;
      }
      nav ul li {
          float: left;
          list-style: none;
      }
      nav ul li a{
          display: block;
          font-family:fantasy;
          color: #222;
          font-size: 24px;
          padding: 15px 14px;
          /* text-decoration: none; */
      }
  </style>
  <style>
    h1{
      font-family: fantasy;
      text-align: center;
    }
    .box{
      margin: 0;
      padding: 0;
      position:absolute;
      top:25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .box select{
      background:thistle;
      color: #222;
      padding: 10px;
      width: 250px;
      height: 50px;
      border: none;
      font-size: 20px;
      font-family: fantasy;
      /* box-shadow: 0 5px 25px rgba(0, 0, 0, .5); */
      /* -webkit-appearance: none; */
    }

  </style>
  <style>
  .button{
    margin: 0;
      padding: 0;
      position:absolute;
      top:35%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .button input{
      background:thistle;
      color: #222;
      border-radius: 25px;
      padding: 10px;
      width: 250px;
      height: 50px;
      border: none;
      font-size: 25px;
      font-family: fantasy;
  }
  
  
  </style>

</head>
<body>
    <nav>
        <p><a href="/">Home</a></p>
        <ul>
          <li><a href="/index"> Detail about BTS station</a></li>
          <li><a href="/price_ticket"> Price ticket BTS station</a></li>
        </ul>
    </nav>
      <h1>Calculate price Ticket BTS</h1>
  <form method="POST" action="/calculate_price">
    <div Class="box">
    <select name="station1">
      <% for(var i=0; i < rows.length; i++) { %>
        <option value="<%= rows[i].id_station %>"><%= rows[i].name_station %></option>
        <% } %>
    </select>

    <select name="station2">
        <% for(var i=0; i < rows.length; i++) { %>
          <option value="<%= rows[i].id_station %>"><%= rows[i].name_station %></option>
          <% } %>
    </select>
  </div>
  <br><br>
  <div class = "button">
    <input type="submit">
  </div>
  </form>


  </body>
  </html>
