<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Station</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
        nav{
            width: 100%;
            height: 80px;
            background-color:thistle;
        }
        nav p a{
            font-family:fantasy;
            color: #222;
            font-size: 60px;
            line-height: 70px;
            float: left;
            padding: 0px 20px;
            text-decoration: none;
        }
        nav ul li {
            float: left;
            list-style: none;
        }
        nav ul li a{
            display: block;
            font-family:fantasy;
            color: #222;
            font-size: 24px;
            padding: 15px 14px;
            /* text-decoration: none; */
        }
    </style>
    <style>
      h1{
        font-family: fantasy;
        text-align: center;
      }
      .detail{
        font-family: fantasy;
        text-align: center;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
      <nav>
          <p><a href="/">Home</a></p>
          <ul>
            <li><a href="/index"> Detail about BTS station</a></li>
            <li><a href="/price_ticket"> Price ticket BTS station</a></li>
          </ul>
      </nav>
    <h1><%= title %></h1>
    <div class = "detail">
    <br>

    <b> Name Station: </b> <%= station.name_station %>
    <br/>
    <br/>
    <b> Station Surrounding: </b> <%= station.surrounding %>
    <br/>
    <br/>
    <b> Station Service: </b> <%= station.service %>
    <br/>
    <br/>
    <b> First Train: </b> <%= station.line_1 %> <b> <%= station.first_train_go %> </b>  AM
    <br/>
    <br/>
    <b> Last Train: </b> <%= station.line_1 %> <b> <%= station.last_train_go %> </b>  PM
    <br/>
    <br/>
    <b> First Train: </b> <%= station.line_2 %> <b> <%= station.first_train_back %> </b>  AM
    <br/>
    <br/>
    <b> Last Train: </b> <%= station.line_2 %> <b> <%= station.last_train_back %> </b>  PM
    <br/>
    <br/>
  </div>
  </body>
</html>
